@import url(font-awesome.css) screen;
@import url(bootstrap.css) screen;
@import url(owl.carousel.css) screen;
@import url(pe-icon-7-stroke.css) screen;
@import url(animate.min.css) screen;


/* 1. GENERAL SECTION */
* {
    margin: 0;
    padding: 0px;

}

a:hover,
a:focus {
    text-decoration: none;
    color: #01090C;
}


/*
    HEADER TOP SECTION
 */
.header-top-section {
    display: block;
    width: 100%;
    background: #1abc9c;
    color: #fff;
}


.header-top-content ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
}

.header-top-content ul li a:hover,
.header-top-content ul li a:active,
.header-top-content ul li a:focus {
    background: transparent;
    color: #fff;
}

.header-top-content ul li:last-child a i {
    /*font-size: 20px;  */
    position: relative;
    top: 2px;
}


.header-top-menu ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.header-top-menu ul li a:hover,
.header-top-menu ul li a:active,
.header-top-menu ul li a:focus {
    background: transparent
}


/*
    HEADER SECTION
 */
.header-section {
    display: block;
    width: 100%;
    padding: 20px 0;
    position: relative;
    transition: all 1s;
    background: #fff;
}

header.header-section.fixed {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 99999;
    border-bottom: 1px solid #1abc9c;
    padding: 10px 0;
    transition: all 1s;
}

.header-section .navbar {
    height: auto;
    min-height: none;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    background: transparent !important
}





.search {
    margin-left: 30em;
    position: relative;
    width: 300px;
}

.search input {

    width: 100%;
    border: 2px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}



#navbar-brand {
    font-size: 40px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    text-align: center;
    padding: 0 !important;
    background: transparent !important;
}

ul.navbar-nav {
    background: transparent;
    margin: 0 auto;
    margin-bottom: -5px;
    display: inline-block;
    float: none;
}


ul.navbar-nav li a {
    font-size: 17px;
    font-weight: 600;
    color: #0f0101 !important;
    background: transparent !important;
    padding-top: 10px;
    padding-right: 50px;
}

ul.navbar-nav li.active a,
ul.navbar-nav li a:hover {
    color: #1abc9c !important;
}

ul.navbar-nav.cart-menu li a {
    padding-right: 0;
    color: #0f0101;
    font-weight: 700;
}

ul.navbar-nav.cart-menu li a .fa-search {
    margin-top: 6px;
    display: block;
}


/*
    SERVICE SECTION
 */
.service-section {
    display: block;
    text-align: center;
    padding: 100px 0 80px;
}



.service-item i {
    font-size: 70px;
    text-align: center;
}

.service-item h3 {
    font-size: 18px;
    font-weight: 700;
    color: #555252;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.service-item p {
    font-size: 14px;
    font-weight: 300;
    color: #555252;
    line-height: 24px;
}

.service-item:hover h3,
.service-item:hover i {
    color: #1abc9c
}


/*
    OFFER SECTION
 */
.offer-section {
    display: block;
    padding: 170px 0 130px;
    position: relative;
    width: 100%;
    background: url(../images/offer-bg.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    color: #fff;
}

.offer-section:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    background: rgba(0, 0, 0, 0.5)
}

.offer-section h1 {
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.offer-section h2 {
    font-size: 38px;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

/*
    NEWS LATTER SECTION
 */
.news-letter-section {
    display: block;
    background: url(../images/bg.png) #1abc9c no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 100px 0 80px;
}

.news-letter-section p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 25px;
    display: block;
    overflow: hidden;
}

.subscribe-from {
    display: block;
    margin-top: 50px;
}

.form-inline {
    /*width: 100%;   */
    display: block;
    background: #fff;
    position: relative;
    padding: 0;
    border-radius: 10px;
}

.form-group {
    width: 350px;
    display:flex;
    margin-left: 10rem;
}

.form-inline .form-group {
    margin-bottom: 0;
}

.subscribe-from .form-control {
    display: block;
    width: 100% !important;
    height: 100%;
    height: 63px;
    color: #000;
    font-size: 16px;
    padding: 20px;
}

.subscribe-from .form-control:hover,
.subscribe-from .form-control:focus {
    box-shadow: none !important;
    outline: none;
}

.suscribe-btn{
    position: absolute;
    display: flex;
    width: 60px;
    background: #1abc9c;
    border: none;
    bottom: 2px;
    top: 10px;
    right: 375px;
}

/*
    FOOTER SECTION
 */
footer.footer {
    display: block;
    text-align: center;
    background: #000000;
    padding: 20px 0;
    color: #fff;
}

.test span::before {content: "|"

}