@charset "UTF-8";

/* sales.jsp */
#body {
	color: #666;
	background: #e3e3e3 url(../img/header/bg_header2_1.gif) repeat-x 0 0;
	background-image: url(../img/header/bg_header2_1.gif);
	background-position-x: 0px;
	background-position-y: 0px;
	background-size: initial;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(227, 227, 227);
}

/* 판매등록 */
.tit_box_04 {
	font-family: NanumSquareRound !important;
	font-size: 15px !important;
	color: #666 !important;
	line-height: 15px !important;
	border-style: solid;
	border-image: linear-gradient(to right, #88b6f1 50%, #7cca11 80%);
	border-image-source: linear-gradient(to right, rgb(136, 182, 241) 50%, rgb(124, 202, 17) 80%);
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 1;
	border-image-width: 5px 0 0 0;
	border-top: 5px solid #7aa3d6;
	text-align: center;
}

/* 카테고리선택  */
.box_style_03>.in_box_02 #goodsName {
	width: 670px;
	height: 60px;
	border-radius: 12px;
	box-shadow: none;
	border: 1px solid #acc2dc;
	color: #6d99d0;
	font-family: NanumSquareRound !important;
	font-size: 16px !important;
	line-height: 60px !important;
	padding: 0 50px 0 20px;
	box-sizing: border-box;
	cursor: pointer;
	background: url(../img/all_img/icon_ar02_blue.svg) right center no-repeat #fff !important;
	background-position: calc(100% - 15px) center !important;
	background-size: 30px 10px !important;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}

/* 판매등록 , 카테고리선택 box */
.box_style_03 {
	width: 995px;
	background: #fff;
	background-image: initial;
	background-size: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(255, 255, 255);
	margin: auto;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 3px 5px rgb(0 0 0/ 10%);
	padding: 30px 30px 25px 30px;
	box-sizing: border-box;
}

.in_box_03 {text-align: center;}

#tixketimg {
	margin-top: 12%;
	margin-right: 7%;
}

.box_style_05 {
	color: #fff;
	line-height: 23px;
	font-size: 15px;
	font-family: NanumSquareRound
}

.box_style_05 {
	width: 995px;
	background: #9c9fa3;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	margin: auto;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 3px 5px rgb(0 0 0/ 10%);
	padding: 25px 30px 25px 30px;
	box-sizing: border-box;
}

.mb_20 {margin-bottom: 20px !important;}

.mt_20 {margin-top: 20px !important;}

/* 카테고리별 수수료 보기 */
.btn_st_00, .btn_st_00 font {
	font-family: NanumSquareRound !important;
	font-size: 15px !important;
	color: #fff !important;
	line-height: 15px !important;
}

.btn_st_00 {
	padding: 8px 12px;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 100px;
}

.ml_10 {margin-left: 10px !important;}

a {
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}

.required {color: orange;}

.box_style_03>.in_box_01 {float: left;}


/* commission.jsp */
tr {text-align: center;}

th {text-align: center;}

p {text-size: 3px;}


/* category.jsp */
* {box-sizing: border-box;}

body {margin: 0;}

/* Style the header */
.header {
	color: #000000;
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #ffffff;
	width: 458px;
	height: 65px;
	margin: 29px 0 10px;
	padding: 20px 20px;
	word-break: break-all;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.column {
	float: left;
	width: 33.33%;
	padding: 6px 19px 0px 11px;
	width: 160px;
	margin: 6px 19px 0px 11px;
	color: #000000;
	background: #fafafa;
	overflow: auto;
	width: 160px;
	height: 350px;
	padding: 10px;
}

.column1 {
	float: left;
	width: 33.33%;
	padding: 6px 19px 0px 11px;
	width: 160px;
	margin: 6px 19px 0px 11px;
	color: #000000;
	background: #fafafa;
	overflow: auto;
	width: 160px;
	height: 350px;
	padding: 10px;
}

.column1>ul>li {display:none;}

.column>ul>li {
	padding-left: 7px;
	color: #767676;
	font-size: 13px;
	line-height: 15px;
	padding: 18%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
	.column {width: 100%;}
}

/* 3단 */
nav {width: 150px;}

ul {padding: 0;}

li {
	list-style: none;
	line-height: 34px;
}

a {
	display: block; /* 범위 확장 */
	text-decoration: none;
	color: #616161;
	text-align: center;
}

.snd_menu {background: #efefef;}

.trd_menu {background: #ddd;}

/* 서브메뉴들 숨김 */
.sub_menu {display: none;} 

/* 임시 클래스(선택) */
.selec {
	background: #c45;
	color: #efefef;
} 

.btnArea {
	align: center;
	margin-left: 30%;
}

.column-webkit-scrollbar {
	width: 10px;
	background-color: black;
}

#popupPage .sumPop h2, #popupPage .paymentPop h2, #popupPage .myservicePop h2, #popupPage .loginPop h2 {
    height: 25px;
    margin-bottom: 15px;
    padding: 29px 54px 30px;
    border-bottom: none;
    background-color: #79a3d6;
}

#popupPage h2 {
    position: relative;
    border-bottom: 2px solid #333;
    color: #fff;
    font-size: 25px;
    font-family: NanumSquareRound;
    line-height: 25px;
}

#popupPage .sumPop h2:after, #popupPage .paymentPop h2:after, #popupPage .myservicePop h2:after, #popupPage .loginPop h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #79a3d6 url(../img/카테고리.png) repeat -5px 0;
}

#popupPage .sumPop h1, #popupPage .paymentPop h1, #popupPage .myservicePop h1, #popupPage .loginPop h1 {
    top: 26px;
    right: 50px;
}
    
#popupPage h1 {
    position: absolute;
    z-index: 1;
}
