@charset "UTF-8";
/*  web font: NanumSquareRound  */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/*  layout  */
.mt_10{margin-top: 10px !important;}
.mt_20{margin-top: 20px !important;}
.mt_90{margin-top: 90px !important;}

.ml_10{margin-left: 10px !important;}

.bg_01{
	background: #f2f4f7 !important;
	min-height: auto !important;
	margin-bottom: -100px !important;}
.bg_03{
	margin-bottom: -100px;
	background: #f2f4f7;
	background-position: center top;
	border-image: linear-gradient(to right, #5d799e 50%, #199059 80%);
	border-image-slice: 1;
	border-image-width: 247px 0 0 0;
	border-top: 5px solid #5d799e;
}
.bg_03 .pd_box_02 .prodViewDetail{border-radius: 0 0 30px 30px;}
.bg_03 .pd_box_02 .tabStyle li {border-radius: 30px 30px 0 0;}
.bg_04{
	background-position: center top;
	border-image-source: linear-gradient(159deg, #f2f4f7 50%, f2f4f7 80%);
	border-image-slice: 1;
	border-image-width: 5px 0 0 0;
	border-top: 5px solid #f2f4f7;
	background: #f2f4f7;
	margin-bottom: -100px;
}

.clear{clear: both !important;}
.float_l{float: left !important;}


/*  상품등록*/
.box_style_03{
	width: 995px;
	background: #fff;
	margin: auto;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	padding: 30px 30px 25px 30px;
	box-sizing: border-box;
}
.box_style_03 > .in_box_01{float: left;}
.box_style_03 > .in_box_02{float: right;}
.box_style_03 > .in_box_02 #goodsName{
	width: 670px;
    height: 60px;
    border-radius: 12px;
    box-shadow: none;
    border: 1px solid #acc2dc;
    color: #6d99d0;
    font-family: NanumSquareRound !important;
    font-size: 16px !important;
    line-height: 60px !important;
    padding: 0 50px 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    background: url(../img/icon_ar02_blue.svg) right center no-repeat #fff !important;
    background-position: calc(100% - 15px) center !important;
    background-size: 30px 10px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    }
.box_style_03 > .in_box_03{margin-bottom: 80px;}
.box_style_03 > .in_box_03 img{display: block; margin: 70px auto 20px auto;}
.box_style_03 > .in_box_03,
.box_style_03 > .in_box_03 font{
	text-align: center;
	color: #666;
	font-family: NanumSquareRound !important;
	font-size: 15px !important;
	line-height: 23px !important;
}
.box_style_03 > .in_box_03 strong,
.box_style_03 > .in_box_03 strong font{
	color: #fc7700 !important;
	font-family: NanumSquareRound !important;
	font-size: 15px !important;
	line-height: 23px !important;
	font-weight: normal;
}
.required,
.box_style_03 > .in_box_01 h3 .required,
.box_style_03 > .in_box_01 h3 .required font,
.box_style_04 > ul li h3 .required,
.box_style_04 > ul li h3 .required font{
	color: #fc7700 !important;
	font-family: NanumSquareRound !important;}
.box_style_03 > .in_box_01 h3,
.box_style_03 > .in_box_01 h3 font,
.box_style_04 > ul li h3,
.box_style_04 > ul li h3 font{
	font-family: NanumSquareRound !important;
	font-size: 18.5px !important;
	color:#666 !important;
	line-height: 35px !important;
}
.box_style_03 > .in_box_01 h3 span,
.box_style_03 > .in_box_01 h3 span font,
.box_style_04 > ul li h3 span,
.box_style_04 > ul li h3 span font{
	font-family: NanumSquareRound !important;
	font-size: 16px !important;
	color: #666 !important; 
	line-height: 18.5px !important;
	font-weight: normal;}
.box_style_05{
	width: 995px;
	background: #9c9fa3;
	margin: auto;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	padding: 25px 30px 25px 30px;
	box-sizing: border-box;
}
.box_style_05 .info_txt li{margin-bottom: 10px;}
.box_style_05 .info_txt li:last-child{margin-bottom: 0;}
.box_style_05 .info_txt li{
	color: #fff !important;
	line-height: 23px !important;
	font-size: 15px !important;
	font-family: NanumSquareRound !important;
}
	

.popup_in_sell_info_gr{padding: 25px 30px 10px 30px;}
.popup_in_sell_info_gr *{
	font-family: NanumSquareRound, sans-serif !important;
    font-size: 13px;
    line-height: 18px;
}
.popup_in_sell_info_gr .ul_st01{margin: 15px 0; width: auto;}
.popup_in_sell_info_gr .ul_st01 li{	border-top: 1px solid #e0e0e0; padding: 6px 0 5px 0px;}
.popup_in_sell_info_gr .ul_st01 li span{display: inline-block; width: 150px; font-size: 13px}
.popup_in_sell_info_gr .ul_st01 li strong{
	text-align: right;
	display: inline-block;
	width: 180px;
	font-size:13px
}
.popup_in_sell_info_gr .ul_st01 .point_gr span{color: #ff5e00;}
.popup_in_sell_info_gr .ul_st01 .point_gr strong{color: #ff5e00;}

.info_st01{border-radius: 10px; margin: 0 0 15px 0;}
.info_st01 h3{margin:0 0 8px 0}
.info_st01 li{
	margin: 4px 0 0 0;
    font-size: 13px;
    letter-spacing: -0.5px;
}

.sell_info_txt_01{
	font-size: 13px;
    line-height: 21px;
    color: #aaa;
    margin-bottom: -5px;
}
.sell_info_txt_02{
	font-size: 13px;
	color: #ff7a03;
	padding: 0 35px;
	line-height: 21px;
	word-break: keep-all;
	font-family: NanumSquareRound, sans-serif !important;
}
.sell_info_txt_03{
    margin-bottom: 6px;   
    border: 1px solid #e6e6e6;
    display: inline-block !important;
    padding: 2px 10px;
    border-radius: 15px;
    margin-right: 100px; 
    width: 202px;
}
.sell_info_txt_04{
	font-size: 13px;
	color: #666;
	margin-bottom: 12px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 15px;
}
.sell_info_txt_04 span{font-size: 13px; color: #666;}
.sell_info_txt_05{line-height: 26px; margin: 10px 0 0 0;}
.sell_info_txt_05 span{
	font-size: 16px;
	padding: 0 11px 0 0;
	display: inline-block;
	border-right: 1px solid #dadada;
	margin: 0 5px 10px 0;
	font-weight: bold;
	color: #4a8ad8;
	line-height: 23px;
}
.sell_info_txt_05 span:first-child{padding: 0 11px 0 0;}
.sell_info_txt_05 span:last-child{border-right: 0;}
.sell_info_txt_08{margin: 5px 0 -10px 0;}
.sell_info_txt_09{margin: 6px 0 0 0; display: block;}
.sell_info_txt_09, .sell_info_txt_09 span{font-size: 13px;}
.sell_info_txt_09 span{font-size: 13px;}

.sell_info_box_gr .sell_info_txt_02{
	padding: 0 0 10px 0;
	margin: 15px 0 0 0;
	font-size: 19px;
	font-weight: bold;
	color: #4a8ad8;
	word-break: keep-all;
	line-height: 26px;
}
.sell_info_box{
    position: fixed;
    z-index: 1000;
    margin: auto;
    width: 380px;
    left: 0;
    right: 0;
    top: 200px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.sell_info_box_gr{position: absolute;}
.sell_info_box_gr .sell_info_box{
	width: 400px;
    position: absolute;
    top: 20px;
}

.lv_popup{    
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/*  상품리스트  */
.txt_c{text-align: center !important;}


/*  C2C 상품 상세  */
.c2c_top_box_gr{
	background: #fff;
	margin: auto auto;
	width: 995px;
	border-radius: 10px;
	padding: 30px;
	box-sizing: border-box;
}
.c2c_top_box_gr *{font-family: NanumSquareRound, sans-serif !important;}
.c2c_top_box_gr .c2c_a_gr{
	float: left;
	width: 580px;
	border: 6px solid #ececed;
	border-radius: 15px;
	overflow: hidden;
}
.c2c_top_box_gr .c2c_b_gr{float: right; width: 320px;}
.c2c_pd_tit{font-size: 28px; font-weight: bold; margin: 15px 30px 20px 30px;}
.c2c_ctg_list{font-size:16px; padding: 30px 30px 0 30px;}
.c2c_sub_info_txt{margin: 0 30px 20px 15px;}
.c2c_sub_info_txt span{
	font-weight: bold;
	font-size: 18px;
	padding-right: 15px;
	border-right: 1px solid #dedede;
	line-height: 16px;
	padding-left: 15px;
	display: inline-block;
	height: 16px;
}
.c2c_b_gr h3{
	font-size: 18px;
	display: inline-block;
	float: left;
	line-height: 18px;
}
.c2c_b_sub01_gr{margin-bottom: 25px;}
.c2c_b_sub01_gr > li{
	border-bottom: 1px solid #ececed;
	padding: 0 0 13px 0;
	margin-bottom: 15px;
}
.c2c_b_sub02_gr h3{display: block; float: none; margin: 0 0 5px 0 !important;}
.c2c_b_sub02_gr .product_ea_info{font-size: 15px; opacity: 0.6; margin-left: 8px;}
.c2c_b_sub03_gr #purchaseBtn, .c2c_b_sub03_gr #resBtn, .c2c_b_sub03_gr #editDo{
    font-family: NanumSquareRound !important;
    font-size: 18.5px !important;
    color: #fff !important;
    line-height: 18.5px !important;
    font-weight: bold !important;
    padding: 13px 15px;
    display: inline-block;
    border-radius: 12px;
    background: #fc7700;
    min-width: 180px;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 12px;
}

.c2c_b_gr .pd_m{font-size: 18px; font-weight: bold;}
.c2c_b_gr .pd_sale_m{
	font-size: 14px;
	opacity: 0.6;
	border-bottom: 1px solid #666;
	height: 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 0 4px;
}
.c2c_b_gr .btn_ea_edit_txt{font-size: 18px; padding: 0 0; line-height: 18px;}
.c2c_b_gr .c2c_all_m{font-size: 18px; color: #f97b12; font-weight: bold;}
.c2c_b_gr .c2c_fp_nb{margin: 2px 2px 7px 2px; text-align: right; width: 100%; color: #619ae0;}
.c2c_b_gr .pd_sale_m, .c2c_b_gr .pd_m, .c2c_b_gr .btn_ea_edit_txt, .c2c_b_gr .c2c_all_m{float: right;}

.c2c_c_gr{width: 580px;}
.c2c_c_gr h3{ font-size:15px; margin:0 0 10px 0; color: #5a7aa2;}
.c2c_c_gr li{padding: 0 0 8px 12px; font-size: 13px;}
.c2c_c_gr li:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #e3e3e3;
    border-radius: 100%;
    position: absolute;
    margin: 3px 0 0 -11px;
}
.c2c_top_box_gr .c2c_c_gr{
	float: left;
	width: 580px;
	padding: 30px 0 10px 0;
}

.REGULAR_PRICE{color: #ff8100;}
.new_REGULAR_PRICE{
	color: #888;
	font-size: 13px;
	font-weight: bold;
	padding: 9px;
	display: inline-block;
}
.new_BTN_RP{
	margin: 5px 0 0 0;
	font-size: 13px;
	border: 1px solid #c3c3c3;
	border-radius: 10px;
	padding: 3px 8px 3px 8px !important;
}
.new_TICKET_RETENTION_gr{
	display: block;
	padding: 0 0 0 90px;
	margin: 0 0 10px 0;
	font-size: 15px;
	opacity: 0.6;
	opacity: 0.6;
}

.new_UNUSUAL_LIST_gr{padding-left: 30px;}
.new_UNUSUAL_LIST_gr span{
	background: #eef3f7;
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 5px;
	float: left;
	margin: 0 6px 6px 0;
	color: #606d8a;
}
.new_PROD_DISP_NO_gr{
	margin: 15px 30px 30px 30px;
    display: block;
    font-size: 15px;
    color: #aaa;
}
.new_TICKET_RETENTION_gr b{font-size: 15px; }

/*  상세보기 */
.brd30_sdw{border-radius: 30px; box-shadow: 0 3px 5px rgba(0,0,0,0.1);}


/*  INFO  */
.info_txt_06{
	border-collapse: collapse;
	width: 995px;
	margin: auto auto 1.5% auto;
	border-radius: 10px;
	overflow: hidden;
	background: #fff;
	display: block;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}
.info_txt_06, .info_txt_06 font, .info_txt_06 strong, .info_txt_06 strong font{
	font-family: NanumSquareRound !important;
	font-size: 16px !important;
	color: #666;
	line-height: 16px !important;
}

/*  btn  */
* button{
	border: 1px solid transparent;
	box-sizing: border-box;
	-webkit-writing-mode: horizontal-tb;
}

.btn_st_00{
	padding: 8px 12px;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 100px;}
.btn_st_00,
.btn_st_00 font{
	font-family: NanumSquareRound !important;
	font-size: 15px !important;
	color: #fff !important;
	line-height: 15px !important;
}
.btn_sm_01{
	padding: 8px 12px;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 8px;
	cursor: pointer;
}
.btn_sm_01, .btn_sm_01 font{
	font-family: NanumSquareRound !important;
	font-size: 15px !important;
	color: #666 !important;
	line-height: 15px !important;
}
.btn_ea_edit_txt{
	line-height: 24px;
	font-size: 18px;
	vertical-align: bottom;
	padding: 0 10px;
	font-weight: bold;
	color: #666;
	letter-spacing: -1px;
}
.btn_ea_edit_txt, .btn_ea_edit_txt font{
	font-family: NanumSquareRound !important;
	font-size: 23px;
	color: #666;
}



/*  input  */
* .select_style_01, 
* .select_style_02, 
* .select_style_03, 
* .input_style_01, 
* .input_style_02, 
* .input_style_03, 
* .input_style_basic{
	width: auto !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	width-space: pre;
	-webkit-rtl-ordering: logical;
	box-shadow: none;
	vertical-align: middle;
	transition: color .3s, border .3s, background .3s, opacity .3s;
	overflow: visible !important;
	align-items: center;		
}

* .input_style_01{
	border: 1px solid #ddd !important;
	border-radius: 8px !important;
	font-size: 15px;
	font-family: NanumSquareRound !important;
	color: #666 !important;
	padding: 8px 28px 8px 10px;
	height: auto !important;
	background: right center no-repeat #fff !important;
	background-position: calc(100% - 10px) 9px !important;
	background-size: 14px 14px !important;
	line-height: 15px;
	width: 88px !important;
	margin-right: 4px;
	cursor: pointer;
}
* .input_style_01 + .ui-datepicker-trigger{display: none !important;}

.wd_100p{width: 100% !important;}

.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb_20{margin-bottom: 20px !important;}

.pt20{padding-top: 20px !important;}

.tit_box_04{
	background-position: center top;
	border-style: solid;
	border-image: linear-gradient(to right, #88b6f1 50%, #7cca11 80%);
	border-image-slice: 1;
	border-image-width: 5px 0 0 0;
	border-top: 5px solid #7aa3d6;
	text-align: center;
}
	
.tit_box_04 h2{
	font-family: NanumSquareRound !important;
	font-size: 31px;
	line-height: 36px;
	padding: 35px 0 32px 0;
	text-align: center;
	display: inline-block;
	margin: auto;
}


.in_box_01 #usePlaceSelect, .useTerm{margin-top: 0 !important;}
.in_box_01, .in_box_01 div, .box_style_04 .in_box_01, .box_style_04 .in_box_01 font{
		font-family: NanumSquareRound !important;
		font-size: 15px;
		color: #666;
}
.in_box_01 input[type=radio], .in_box_01 input[type=checkbox]{display: none;}	
.in_box_01 input[type=radio]:checked, .in_box_01 input[type=checkbox]:checked{display: none;}
.in_box_01 input[type=radio] + span, .in_box_01 input[type=checkbox] + span{
	padding-left: 25px;
	background: url(../img/icon_ck_off.svg) 0 8px no-repeat;
	background-size: 18px 18px;
	height: 35px;
	display: inline-block;
	cursor: pointer; 
	line-height: 35px !important;
	font-size: 15px !important;
	font-family: NanumSquareRound !important;
	color:#666 !important;
}
.in_box_01 input[type=radio]:checked + span, .in_box_01 input[type=checkbox]:checked  + span{
	padding-left: 25px;
	background: url(../img/icon_ck_on.svg) 0 8px no-repeat;
	background-size: 18px 18px; 
	height: 35px;
	display: inline-block;
	cursor: pointer;
	line-height: 35px !important;
	font-size: 15px !important;
	font-family: NanumSquareRound !important;
	color:#666 !important;
}
.in_box_03 {text-align: center;}

.tabStyle{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: -1px;
	z-index: 1;
	width: 994px;
}
.tabStyle li{background-color: rgba(217, 220, 224, 0.66);}

.prodViewDetail .tabStyle, .prodViewDetail .tabStyle2{top: -57px;}
.prodViewDetail .tabStyle li{height: 60px;}

.productImage_box{line-height: 0; text-align: center;}

.pd_box_02{margin-top: 80px;}
.pd_box_02 [class*='boxStyle']{
	width: 995px;
	box-sizing: border-box;
	border: 0;
	padding: 30px 30px;
	margin: 0 auto 0 auto;
}
.pd_box_02 .tabStyle{left: 0; width: 995px;}
.pd_box_02 .tabStyle li{border:0; border-radius: 10px 10px 0 0;}
.pd_box_02 .prodViewDetail{border-radius: 0 0 10px 10px; margin-bottom: 30px;}
.pd_box_02 .prodViewDetail .tabStyle, .prodViewDetail .tabStyle2{top: -60px;}
.pd_box_02 .prodViewDetail .tabStyle.type4 li{
	width: 33%;
	height: 60px;
	margin-right: 0.5%;
	padding: 0 15px;
	box-sizing: border-box;
}
.pd_box_02 .prodViewDetail .tabStyle.type4 li:last-child{margin-right: 0;}
.pd_box_02 .tabStyle .current a,
.pd_box_02 .tabStyle .current a font{color: #666; font-weight: bold; font-size: 17.5px;}
.pd_box_02 .tabStyle a,
.pd_box_02 .tabStyle a font{
    font-family: NanumSquareRound !important;
    font-size: 17.5px;
    color: rgba(136, 139, 142, 0.73);
    font-weight: bold;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: 61px;
}

.pd_box_02 #dtailTab01 *{font-family: NanumSquareRound !important; font-size: 15px;}
.pd_box_02 #dtailTab02 *,
.pd_box_02 #dtailTab03 *,
.pd_box_02 #dtailTab04 *,
.pd_box_02 #dtailTab05 *{
	font-family: NanumSquareRound !important;
	font-size: 13px; 
	letter-spacing: 0;
	line-height:18px;
	color:#666;}

.pd_box_02 #dtailTab02 h3:first-child,
.pd_box_02 #dtailTab03 h3:first-child,
.pd_box_02 #dtailTab04 h3:first-child,
.pd_box_02 #dtailTab05 h3:first-child {margin-top: 0px;}

.pd_box_02 #dtailTab02 h3,
.pd_box_02 #dtailTab03 h3,
.pd_box_02 #dtailTab04 h3,
.pd_box_02 #dtailTab05 h3,
.pd_box_02 #dtailTab02 h3 font,
.pd_box_02 #dtailTab03 h3 font,
.pd_box_02 #dtailTab04 h3 font,
.pd_box_02 #dtailTab05 h3 font{
	font-family: NanumSquareRound !important;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 18px;
	color:#666;
}
	


.area-custom-select {
      position: relative;
      width: 400px;
      height: 150px;
      margin: 50px auto;
    }

    .custom-select {
      display: inline-block;
      width: 260px;
      height: 48px;
      border: solid 1px #c4ccd8;
      background-color: #ffffff;
      box-sizing: border-box;
      font-size: 18px;
      cursor: pointer;
      position: relative;
      outline: 0px;
    }

    .select-origin {
      position: absolute;
      right: 10px;
    }

    .custom-select-text {
      position: absolute;
      top: 14px;
      left: 15px;
    }

    .custom-select-arrow {
      position: absolute;
      top: 20px;
      right: 15px;
    }

    .custom-select-list {
      position: absolute;
      font-size: 18px;
      width: 260px;
      height: 96px;
      z-index: 15;
      border: solid 1px #c4ccd8;
      background-color: #ffffff;
      text-align: left;
      margin-top: -3px;
      box-sizing: border-box;
    }

    .custom-select-option {
      height: 48px;
      line-height: 48px;
      padding-left: 15px;
      cursor: pointer;
      box-sizing: border-box;
    }

    .custom-select-option:hover {
      color: #ffffff;
      background-color: #1172c4;
      box-sizing: border-box;
    }
